body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 565.5%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

.my-pic {
  margin: 50px auto 50px auto;
  height: 200px;
  width: 200px;
}

.description {
  width: 50%;
  margin: auto;
}

hr {
  border: dotted #EAf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.skill-1-img {
  border-radius: 50%;
}

.skill-2-img {
  border-radius: 50%;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
p{
  line-height: 2;
}


.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;;
}

.skill-1-img {
width: 25%;
float: left;
margin-right: 30px;
}

.skill-2-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient( bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 100px 100px;
}
.contact-text {
  margin-bottom: 100px;
}
.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient( bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container {
  margin-top: 100px;
  padding: 50px;
  background-color: #66BFBF;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  margin-top: 20px;
}
